-i https://pypi.python.org/simple
pip
six
pymysql==0.9.3
tornado==5.1.1
ecdsa
# asn1crypto==0.24.0
# bytestring-splitter
# cffi==1.11.5
# idna==2.7
# msgpack-python==0.5.6
# pycparser==2.18
# pynacl==1.2.1
# cryptography
